@using Kentico.PageBuilder.Web.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kentico components sandbox</title>

    @Html.Kentico().PageBuilderStyles()

</head>
<body>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kentico components sandbox</p>
        </footer>
    </div>

    @Html.Kentico().PageBuilderScripts()

    @RenderSection("scripts", required: false)
</body>
</html>
